Alias /www/ /djangoBackend/static/www/
Alias /assets/ /djangoBackend/static/assets/

<Directory /path/to/mysite.com/static>
Require all granted
</Directory>

<Directory /path/to/mysite.com/media>
Require all granted
</Directory>

WSGIScriptAlias / /djangoBackend/djangoBackend/wsgi.py

<Directory /djangoBackend/djangoBackend/wsgi.py>
<Files wsgi.py>
Require all granted
</Files>
</Directory>