option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djangoBackend.settings"
    "PYTHONPATH": "/opt/python/current/app/djangoBackend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djangoBackend/djangoBackend/wsgi.py
    NumProcesses: 1
    NumThreads: 4
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/"